<ul  xmlns:th="http://www.thymeleaf.org" th:fragment="sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <div class="sidebar-brand d-flex m-2 align-items-center justify-content-center">
        <div class="sidebar-brand-icon">
            <i class="fas fa-warehouse"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Kho hàng Trung tâm hội nghị</div>
    </div>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Nhập kho
    </div>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/nhap-kho/kho-hang}" >
            <i class="fas fa-box"></i>
            <span>Danh Sách Kho Hàng</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/nhap-kho/hoa-don-nhap}">
            <i class="fas fa-list"></i>
            <span>Danh sách hoá đơn nhập</span>
        </a>
    </li>


    <!--hoa don xuat-->
    <!-- Divider -->
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Xuất kho
    </div>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/xuat-kho/danh-sach-hd-xuat}">
            <i class="fas fa-list"></i>
            <span>Danh sách hoá đơn xuất</span>
        </a>
    </li>
    <!--end hoa don xuat-->

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <div class="sidebar-heading">
       Vật tư
    </div>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/hang-hoa/vat-tu}">
            <i class="fas fa-dolly-flatbed"></i>
            <span>Danh sách vật tư</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/hang-hoa/ncc}">
            <i class="fas fa-truck"></i>
            <span>Nhà cung cấp</span>
        </a>
    </li>


    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>